@use "@/app/styles/variables/vars.scss";

.index-info {
    margin-top: 62px;
    
    .index-info__inner {
        width: min(558px, 100%);

        p {
            width: min(463px, 100%);
            margin-top: vars.$gap-large;
        }

        button {
            margin-top: vars.$gap-medium;
        }
    }
}